/* You can add global styles to this file, and also import other style files */
@use './scss/variables' as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var.$Inconsolata;
    background-image: url(./assets/images/pattern-lines.svg), url(./assets/images/pattern-squiggly-line-top.svg), url(./assets/images/pattern-squiggly-line-bottom.svg), url(./assets/images/background-mobile.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top, top 25px right 2px, left bottom -20px, center;
    background-size: cover, 105px, 305px, cover;
}

@media screen and (min-width: 1024px) {
    body {
        min-height: 100vh;
        background-image: url(./assets/images/pattern-lines.svg), url(./assets/images/pattern-squiggly-line-top.svg), url(./assets/images/pattern-squiggly-line-bottom.svg), url(./assets/images/background-desktop.png);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: top, top 70px right -20px, left bottom -150px, center;
        background-size: cover, 480px, 750px, cover;
    }
}